resources:
- manager.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: controller
  newName: ghcr.io/siutsin/heartbeats
  newTag: v0.70.0@sha256:1c9045a72629d40bff9ddbed35b5debb2751690bdf8c71050c669e6a03230c07
